<!DOCTYPE html>
<html ng-app>
<head>
  <title>Fantasy Drag Race</title>
  <script src='../node_modules/angular/angular.min.js'></script>
  <script src='../node_modules/angular-route/angular-route.min.js'></script>
</head>
<body>

  <div>
    <input type="text" ng-model="name">
    <p ng-bind="name"></p>
  </div>

  <div class='container'
    ng-init='names =["Aja", "Alexis Michelle", "Charlie Hides", "Eureka OHara", "Farrah Moan", "Jaymes Mansfield", "Kimora Blac", "Nina BoNina Brown", "Pepperming", "Sasha Velour", "Shea Coulee", "Trinity Taylor", "Valentina"]'>
      <ul>
        <li ng-repeat='queenName in names'> {{queenName}} </li>
      </ul>
    </div>

</body>
</html>