body {
  background: black;
  font: 12px -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html, body, #app, .wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;  
}


.video-container {
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.video-border {
  flex: 1 1 auto;
}

.video {
  flex: 1 0 auto;
  width: 100%;
  max-height: 100vh;
}

.video-reveal {
  animation: tv-boing 750ms linear 800ms both,
             fadeIn 50ms linear 800ms both;
}

.chat-space {
  width: 300px;
  transition: width 400ms;
  flex: 0 0 auto;
}

.local-video {
  background: #333;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
}

.remote-video {
  background: #333;
  width: 300px;
}

.chat-container {
  width: 260px;
  color: #ccc;
  padding: 0px;
}

.chat-container li {
  margin: 0 0 4px;
  border-radius: 4px;
  padding: 5px 10px;
  background: rgba(224,122,122,0.2);
  max-width: 75%;
  clear: both;
  position: relative;
  list-style-type: none;
}

.chat-container li.other {
  float: left;
}

.chat-container li.me {
  float: right;
  background: rgba(255,255,255,0.2);
}
form { 
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0; width: 35%; 
}
form input { 
  border: 0;
  padding: 10px;
  width: 40%;
  margin-right: .5%;
}
form button { 
  width: 9%;
  background: rgb(130, 224, 255);
  border: none; padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes tv-boing { 
  0% { transform: matrix3d(0.25, 0, 0, 0, 0, 0.25, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.2% { transform: matrix3d(0.509, 0.145, 0, 0, 0.095, 0.509, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.5% { transform: matrix3d(0.614, 0.207, 0, 0, 0.135, 0.614, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.41% { transform: matrix3d(0.755, 0.272, 0, 0, 0.177, 0.755, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.01% { transform: matrix3d(0.91, 0.298, 0, 0, 0.195, 0.91, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.71% { transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.51% { transform: matrix3d(1.066, 0.216, 0, 0, 0.143, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.92% { transform: matrix3d(1.104, 0.102, 0, 0, 0.068, 1.104, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { transform: matrix3d(1.103, 0.08, 0, 0, 0.053, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.056, -0.001, 0, 0, -0.001, 1.056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(1.024, -0.015, 0, 0, -0.01, 1.024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.43% { transform: matrix3d(1.009, -0.017, 0, 0, -0.011, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.63% { transform: matrix3d(0.996, -0.014, 0, 0, -0.01, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.14% { transform: matrix3d(0.988, -0.007, 0, 0, -0.005, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.46% { transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.36% { transform: matrix3d(1.001, 0.001, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.68% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

/* ============ */
/*  Link Page   */
/* ============ */


#link {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: black;
  position: fixed;
  z-index: 1;
}

#link-message {
  width: 250px;
  height: 250px;
  background-color: rgba(224,122,122,0.2);
  margin: 0 auto;
  display: table;
  font-size: 25px;
  margin-top: 20vh;
  color: #ccc;
}