<section id="testimonials">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About Me</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
    </div>
    
         <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="img/robb.jpg" alt=""></div>
          <h4>Robb Marsee</h4>
          <span>Software Engineer</span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="quote">
          <b></b> Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small></small>
        </div>
      </div>
    </div>
      
    </div>  
  </div>
</section>