<!-- <section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About</h3>
        <div class="section-title-divider"></div>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">
        <h3 class="about-text-detail">Fantasy Drag Race is a game you can play throughout the season of RuPaul's Drag Race Season 9.  Each week you can pick who you think will land in the top and who will be sent lipsyncing.  Correct answers get you points, letting you play against your friends.</h3>  
        <h3 class="about-text-detail"></h3>
      </div>
    </div>
  </div>
</section>
 -->
<style>
  #sortable1, #sortable2, #sortable3 { list-style-type: none; margin: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
  #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  </style>

<script>
  $(() => {
    $("ul.droptrue").sortable({
      connectWith: "ul",
    });
    $("ul.dropfalse").sortable({
      connectWith: "ul",
      dropOnEmpty: false,
    });
    // $("#sortable1, #sortable2, #sortable3").disableSelection();
  });
</script>

  <ul id="sortable1" class="droptrue">
  <li class="ui-state-default">Can be dropped..</li>
  <li class="ui-state-default">..on an empty list</li>
  <li class="ui-state-default">Item 3</li>
  <li class="ui-state-default">Item 4</li>
  <li class="ui-state-default">Item 5</li>
</ul>
 
<ul id="sortable2" class="dropfalse">
  <li class="ui-state-highlight">Cannot be dropped..</li>
  <li class="ui-state-highlight">..on an empty list</li>
  <li class="ui-state-highlight">Item 3</li>
  <li class="ui-state-highlight">Item 4</li>
  <li class="ui-state-highlight">Item 5</li>
</ul>
 
<ul id="sortable3" class="droptrue">
</ul>
 
<br style="clear:both">