<section id="testimonials" class="aboutme-header">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About Me</h3>
        <div class="section-title-divider"></div>
        <h2 class="section-description">A software engineer with a passion for problem solving and everything drag.</h2>
      </div>
    </div>
    
         <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="img/robb.jpg" alt=""></div>
          <h4>Robb Marsee</h4>
          <span>Software Engineer</span>
            <div class="social">
            <a href="mailto:robb.marsee@gmail.com?subject=Fantasy Drag Race Inquiry"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/robb-marsee/"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/ro-double-b"><i class="fa fa-github"></i></a>
              <a href="https://www.facebook.com/ROdoubleB"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/ro_double_b/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://twitter.com/ro_double_b"><i class="fa fa-twitter"></i></a>

            </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="quote">
          <b></b>
          I am a recent graduate from Hack Reactor and longtime fan of RuPaul's Drag Race.  This project was a solo hack-a-thon and was completed in less than a week.  The goal was to get a deeper understanding in Angular.js since I have primarly been using React the past six months.  I am currently seeking employment and would love to discuss this project, any software engineering positions, and anything related to drag.  
          <small></small>
        </div>
      </div>
    </div>
      
    </div>  
  </div>
</section>