<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="img/logo.png" alt="Imperial">
      </div>
      
      <h1>Welcome Fantasy Drag Race</h1>
      <h2>Compete with your friends to be the ultimate fan!</h2>
      <h2>We are currently not avaialbe on mobile devices.  We are currently working on it and hope to have it up soon!  In the meantime, please visit us on a computer.</h2>
      
    </div>

  </div>

</section>
