<section id="team">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rankings</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Here's how you rank up to other users</p>
      </div>
    </div>

    </div>
      <table class="table">
        <tr>
          <th>Ranking</th>
          <th>Username</th>
          <th>Week 1</th>
          <th>Week 2</th>
          <th>Week 3</th>
          <th>Week 4</th>
          <th>Week 5</th>
          <th>Week 6</th>
          <th>Week 7</th>
          <th>Week 8</th>
          <th>Week 9</th>
          <th>Week 10</th>
          <th>Total Score</th>
        </tr>
        <tr>
          <td>1</td>
          <td>test user</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>50</td>
        </tr>
        <tr>
          <td>2</td>
          <td>test user</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>5</td>
          <td>50</td>
        </tr>
      </table>
    </div>
            
  </div>
</section>