<section id="ranking" class="header ranking-header" ng-init='init()'>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rankings</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">{{userInfo}}</p>
      </div>
    </div>
    <div class="results horizontal-slide ">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search a user" ng-model="searchUser">
          </div>      
        </div>
      </form>
      <table class="table results col-md-11">
        <tr>
        <th></th><th></th>
        <th colspan='13' align="center">Week:</th>
        <th></th>
        </tr>
        <tr>
          <th ng-repeat="head in heading">{{head}}</th>
        </tr>
        <tr ng-repeat="userData in ranking | orderBy:sortType | filter:searchUser">
          <td>{{$index + 1}}</td>
          <td>{{userData.username}}</td>
          <!-- <td ng-repeat='weekTotal in userData.totals track by $index'>{{weekTotal}}</td> -->
          <td>{{userData.tootTotals[0] + userData.totals[0]}}</td>
          <td>{{userData.tootTotals[1] + userData.totals[1]}}</td>
          <td>{{userData.tootTotals[2] + userData.totals[2]}}</td>
          <td>{{userData.tootTotals[3] + userData.totals[3]}}</td>
          <td>{{userData.tootTotals[4] + userData.totals[4]}}</td>
          <td>{{userData.tootTotals[5] + userData.totals[5]}}</td>
          <td>{{userData.tootTotals[6] + userData.totals[6]}}</td>
          <td>{{userData.tootTotals[7] + userData.totals[7]}}</td>
          <td>{{userData.tootTotals[8] + userData.totals[8]}}</td>
          <td>{{userData.tootTotals[9] + userData.totals[9]}}</td>
          <td>{{userData.tootTotals[10] + userData.totals[10]}}</td>
          <td>{{userData.tootTotals[11] + userData.totals[11]}}</td>
          <td>{{userData.tootTotals[12] + userData.totals[12]}}</td>

          <td>{{userData.finalTotals}}
          <td >{{userData.sumTotal + userData.finalTotals + userData.tootsumTotals}}</td> 
        </tr>
      </table>
    </div>
    <h6>*Rankings are refreshed once a week after the show airs.</h6  
  </div>
</section>