<section id="team" ng-init='init()'>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rankings</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Here's how you rank up to other users</p>
      </div>
    </div>

    </div>
      <table class="table">
        <tr>
          <th ng-repeat="head in heading">{{head}}</th>
        </tr>
        <tr ng-repeat="userData in ranking">
          <td>{{$index + 1}}</td>
          <td>{{userData.username}}</td>
          <td ng-repeat='weekTotal in userData.totals track by $index'>{{weekTotal}}</td>
          <td >{{userData.sumTotal}}</td>
          <td 
        </tr>
      </table>
    </div>
            
  </div>
</section>