<div class="modal-header">
  <h3>Results Entry</h3>
</div>
<form >
  <div class=>

    <div class="form-group">
      <label>Week</label>
      <input type="text" name="username" class="form-control" ng-model="user.username">
    </div>

    <div class="form-group">
      <label>WHO</label>
      <input type="password" name="password" class="form-control" ng-model="user.password">
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-get-started" ng-click="login(user)">OK</button>
    <button class="btn btn-get-started" ng-click="cancel()">Cancel</button>
  </div>
</form>