<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rules</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Fantasy Drag Race is a game you can play throughout the season of RuPaul's Drag Race Season 9.
        <br><br>
        Select who you think will make it to the top and root for those queens all season.

        Additionally, each week you can pick who you think will land in the top and who will be sent lipsyncing for that episode.
      
        Correct answers get you points, letting you play against your friends.
        
        Bonus points are awarded if you log back in over the weekend and correctly judge the runway.
        <br><br>
        Here are the rules for playing Fantasy Drag race:<br><br></p>

        <!-- <p class="section-description">Fantasy Drag Race is a game you can play throughout the season of RuPaul's Drag Race Season 9.  Each week you can pick who you think will land in the top and who will be sent lipsyncing.  Correct answers get you points, letting you play against your friends.Here are the rules for playing Fantasy Drag race</p> -->
      </div>
    </div>
      
    <div class="row">
      <div class="service-item section-text">

        <div class="service-item text-center">
      <h2  class="service-title text-center">Three Ways to earn points</h2>
      </div>
      
      <div class="service-item text-center">      
      <h3 class="service-title text-center">1: Choose Who Will Make Top Three</h3>
        <p class="service-description text-center">Within the first three weeks you can select the queens you think will make it to the top three, and which one of those will win.  Each correct selection gets 100 points, and an additional 100 points if you selected the winner.</p>
      </div>

      <div class="service-item text-center">
        <h3 class="service-title">2: Earn Point Each Week</h3>
        <p class="service-description">Each week before the episode airs selection two queens that will make it to the top and the two that will be lypsyning.  Each correct selection gets you 25 points.</p>
      </div>
        
      <div class="service-item text-center">  
        <h3 class="service-title">3: Earn Additional Points Each Week Tooting and Booting</h3>
        <p class="service-description">Each week after the episode airs on Friday you can log back and and Toot and Boot the looks from the runway.  Watch Raja and Raven Toot and Boot the queens and for every selection they agree with you win an additional 5 points.</p>
      </div>

      <div class="service-item text-center">  
        <h4 class="service-title">Enter Selection Before Airtime</h4>
        <p class="service-description">Submissions will be closed Fridays at 5PM EST for selecting the winner and lypsyncer and closed Sunday 10PM EST for selecting your Toots and Boots.  Make sure to enter your submission is in so you can earn points.</p>
      </div>

    </div>
      <h6 class='rules-exception'>*Rules subject to change based on what Ru has up his sleve this season</h6>
  </div>  
</section>
