<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rules*</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Here are the rules for playing Fantasy Drag race</p>
      </div>
    </div>
      
    <div class="row">
      <div class="service-item section-text">
        
        <h4 class="service-title text-center">Select the Queens who you think will Slay</h4>
        <p class="service-description text-center">Select the two queens that you think will come out on top this week.</p>
      </div>

      <div class="service-item text-center">
        <h4 class="service-title">Select the Queens who will have to lipsync for their lifes.</h4>
        <p class="service-description">Select the two queens that you think will be up for elimination, and ultimately who will be sent home.</p>
      </div>

      <div class="service-item text-center">
        <h4 class="service-title">Earn point each weeks</h4>
        <p class="service-description">For every right selection you make you will be awarded 5 points.</p>
      </div>

      <div class="service-item text-center">  
        <h4 class="service-title">Enter Selection before RPDR airs</h4>
        <p class="service-description">Submissions will be closed every Friday 5PM PST.  Make sure to enter your submission is in so you can earn points.</p>
      </div>

      <h6>*Rules subject to change based on what Ru has up his sleve this season</h6>
    </div>
  </div>  
</section>
