<section id="subscribe">
  <div class="container wow fadeInUp">

    <div class="row">
      <div class="col-md-12">
        <h3 class="subscribe-title">Select Your Queens</h3>
        <p class="subscribe-text">Drag your selections to each catageory and then submit before the episode airs!</p>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        <p class="subscribe-btn" href="#">Winner</p>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        <p class="subscribe-btn" href="#">Runner-Up</p>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        <p class="subscribe-btn" href="#">Bottom</p>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        <p class="subscribe-btn" href="#">Eliminated</p>
      </div>

      <div class="col-md-12 subscribe-btn-container">
        <a class="subscribe-btn" href="#">Submit</a>
      </div>

    </div>
  </div>
</section>
    

<!-- 
      <div ng-init='links = ["img/aja.jpg", "img/alexis_michelle.jpg"]'>
        <div ng-repeat='queenName in links'> <div class="row">
        <div class="col-md-2">
          <a class="portfolio-item" style="background-image: url({{queenName}});" href="">
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

 -->

<section id="portfolio">
  <div class="container wow fadeInUp scroll-group">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Season 9 Queens</h3>
        <div class="section-title-divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/aja.jpg);" href="">
          <div class="details">
            <h4>Portfolio 1</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/alexis.jpg);" href="">
          <div class="details">
            <h4>Portfolio 2</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/charlie.jpg);" href="">
          <div class="details">
            <h4>Portfolio 3</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/eureka.jpg);" href="">
          <div class="details">
            <h4>Portfolio 4</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/farrah.jpg);" href="">
          <div class="details">
            <h4>Portfolio 5</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/james.jpg);" href="">
          <div class="details">
            <h4>Portfolio 6</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/kimora.jpg);" href="">
          <div class="details">
            <h4>Portfolio 7</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/nina.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/peppermint.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/sasha.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/shea.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/trinity.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-md-2">
        <a class="portfolio-item" style="background-image: url(img/valentina.jpg);" href="">
          <div class="details">
            <h4>Portfolio 8</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</section>
