<script type="text/javascript">
  function checkMobile() {
    console.log('hahahahahah')
    if (window.innerWidth <= 8000000 && window.innerHeight <= 600000) {
      return true;
    } else {
      return false;
    }
  }

  // mobileDetection(checkMobile);

</script>

<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="img/logo.png" alt="Imperial">
      </div>
      
      <h1>Welcome Fantasy Drag Race {{userInfo.name}}</h1>
      <h2>Compete with your friends to be the ultimate fan!</h2>
    </div>

  </div>

</section>


