<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="img/logo.png" alt="Imperial">
      </div>
      
      <h1>Welcome Fantasy Drag Race</h1>
      <h2>Compete to be the ultimate Drag Race fan!</h2>
      <div class="actions">
        <a class="btn-get-started" ng-click="showForm('login')">Log In</a>
        <a class="btn-get-started" ng-click="showForm('signup')">Sign Up</a>
      </div>
    </div>
  </div>

</section>


