<script>  


$(() => {
  $("div.droptrue").sortable({
    connectWith: "div",
  });
  $(".draggable").draggable({
   });
  $(".droppable").droppable({
    drop: (event, ui) => {
      if ($(event.target).attr('class').split(' ')[6] === 'taken') {
        const innerHtml = ui.draggable.html();
        ui.draggable.remove();
        const fullHtml = '<div ng-repeat="queen in queens track by $index" class="col-md-3 item ng-scope ui-sortable-handle">' + innerHtml + '</div>';
        $('#repeatQueen').append(fullHtml);
        $(ui.draggable).parent().removeClass('taken');
      };
      $(event.target).addClass('taken');
      ui.draggable.removeClass('col-md-3');
      ui.draggable.addClass('selected-drag-drop');
      $(ui.draggable).parent().removeClass('taken');
    },
  });
  $(".droppableHolder").droppable({
    drop: (event, ui) => {
      ui.draggable.addClass('col-md-3');
      ui.draggable.removeClass('selected-drag-drop');
      $(ui.draggable).parent().removeClass('taken');
    },
  });
});

</script>

  <ul ng-init="tab = 2" class="nav-menu header-profile">
    <li ng-class="{active:tab===2}" class="profile-click"><a href ng-click="tab = 2">Season Winners</a></li>
    <li ng-class="{active:tab===3}" class="profile-click"><a href ng-click="tab = 3">Weekly Winners</a></li>
    <li ng-class="{active:tab===4}" class="profile-click"><a href ng-click="tab = 4">Toot and Boot</a></li>
    <!-- <li ng-class="{active:tab===1}" class="profile-click"><a href ng-click="tab = 1">Your Results</a></li> -->
  </ul>
    
    
<header id="header-profile">

<section id="portfolio">




<!-- PROFILE == SECTION ONE -->




<!-- <div ng-show="tab === 1"  class="container wow fadeInRight">
  <div>
    <h3 class="section-title">Your Results</h3>
    <div class="section-title-divider"></div>
  </div>

    <div class="col-md-12">
    <p class="section-description">Scroll to see your results each week</p>
  </div>

  <section class="row top-three">
      <table class="table results">
        <tr>
          <th>Category</th>
          <th>Selection</th>
          <th>Result</th>
          <th>Points</th>
        </tr>
        <tr>
        <tr>
          <td>Winner</td>
          <td>Aja</td>
          <td>Aja</td>
          <td>25</td> 
        </tr>
        <tr>
          <td>Runner Up</td>
          <td>Aja</td>
          <td>Aja</td>
          <td>25</td> 
        </tr>
        <tr>
          <td>Lip-Sync</td>
          <td>Aja</td>
          <td>Aja</td>
          <td>25</td> 
        </tr>
        <tr>
          <td>Eliminated</td>
          <td>Aja</td>
          <td>Aja</td>
          <td>25</td> 
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Subtotal</td>
          <td>100</td> 
        </tr>
      </table><

      <table class="table results">
        <tr>
          <th>Queen</th>
          <th>Toot/Boot</th>
          <th>Raja</th>
          <th>Raven</th>
          <th>Points</th>
        </tr>
        <tr>
        <tr>
          <td>Aja</td>
          <td>Boot</td>
          <td>Toot</td>
          <td>Boot</td>
          <td>5</td> 
        </tr>
        <tr>
          <td>Aja</td>
          <td>Boot</td>
          <td>Boot</td>
          <td>Boot</td>
          <td>10</td> 
        </tr>
        <tr>
          <td>Aja</td>
          <td>Boot</td>
          <td>Toot</td>
          <td>Toot</td>
          <td>0</td> 
        </tr>
        <tr>
          <td>Aja</td>
          <td>Toot</td>
          <td>Boot</td>
          <td>Toot</td>
          <td>5</td> 
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Subtotal</td>
          <td>20</td> 
        </tr>
      </table>

      <table class="table results">
        <tr>
          <th colspan="4">TOTAL</th>
          <th>120</th>
        </tr>
      </table>

  </section>

</div> -->




<!-- SEASON WINNERS == SECTION TWO -->




<div ng-show="tab === 2"  class="container wow fadeInRight">
  <div>
    <h3 class="section-title">Select Your Top Three</h3>
    <div class="section-title-divider"></div>
  </div>
  <div class="col-md-12">
    <p class="section-description">Make your selections before the fourth episode airs.</p>
  </div>
  
  <section class="row top-three">
    <div class="ccol-md-3 col-sm-3 col-xs-3 subscribe-btn-container top-three-boxes">
      <h3 class="weekly-titles">Winner</h3>
      <div id="winner"  class="dropBox droptrue droppable portfolio-item droppable-topThree"></div>
    </div>
    <div class="ccol-md-3 col-sm-3 col-xs-3 subscribe-btn-container top-three-boxes">
      <h3 class="weekly-titles">Top Three</h3>
      <div id="runnerUp" class="dropBox droptrue droppable portfolio-item droppable-topThree"></div>
    </div>
    <div class="ccol-md-3 col-sm-3 col-xs-3 subscribe-btn-container top-three-boxes">
      <h3 class="weekly-titles">Top Three</h3>
      <div id="bottom" class="dropBox droptrue droppable portfolio-item droppable-topThree"></div>
    </div>
  </section>
  

  <div class="scroll-holder">
    <div id="repeatQueen" class="horizontal-slide droptrue droppableHolder draggable">
    <div ng-repeat="queen in queens track by $index" class="col-lg-3 col-md-3 item">
    
        <a draggable="true" class="{{queen.queenID}} portfolio-item ui-state-default drag-small-image" style="background-image: url(img/{{queen.name.split(' ')[0]}}.jpg);" href="">
          <div class="details">
            <h4 class="queens-name-small">{{queen.name}}</h4>
            <span>{{queen.hometown}}</span>
            <span>{{queen.age}}</span>
          </div>
        </a>
    </div>
  </div>
  </div>
  <div class="col-md-12 subscribe-btn-container menu-active">
    <a href="#hero" class="subscribe-btn" ng-click="">Sign in to Play!</a>
  </div>
</div>





<!-- WEEKLY WINNERS == SECTION THREE -->




<div ng-show="tab === 3"  class="container wow fadeInRight">
  <div>
    <h3 class="section-title">Winners and Lip-sync-ers: Week One</h3>
    <div class="section-title-divider"></div>
  </div>
  <div class="col-md-12">
    <p class="section-description">Make your selections and then submit before the episode airs!</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  subscribe-btn-container">
    <h3 class='weekly-titles'>Winner</h3>
    <div id="winner"  class="dropBox droptrue droppable portfolio-item  weekly-selection"></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  subscribe-btn-container">
    <h3 class='weekly-titles'>Runner-Up</h3>
    <div id="runnerUp" class="dropBox droptrue droppable portfolio-item  weekly-selection"></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  subscribe-btn-container">
    <h3 class='weekly-titles'>Bottom</h3>
    <div id="bottom" class="dropBox droptrue droppable portfolio-item  weekly-selection"></div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 subscribe-btn-container">
    <h3 class='weekly-titles'>Eliminated</h3>
    <div id="eliminated" class="dropBox droptrue droppable portfolio-item weekly-selection" ng-model='selection.yes'></div>
  </div>
  <div class="scroll-holder">
    <div id="repeatQueen" class="horizontal-slide droptrue droppableHolder draggable">
    <div ng-repeat="queen in queens track by $index" class="col-lg-3 col-md-3 item">
    
        <a draggable="true" class="{{queen.queenID}} portfolio-item ui-state-default" style="background-image: url(img/{{queen.name.split(' ')[0]}}.jpg);" href="">
          <div class="details">
            <h4>{{queen.name}}</h4>
            <span>{{queen.hometown}}</span>
            <span>{{queen.age}}</span>
          </div>
        </a>
    </div>
  </div>
  </div>
  <div class="col-md-12 subscribe-btn-container menu-active">
    <a href="#hero" class="subscribe-btn" ng-click="">Sign in to Play!</a>
  </div>
</div>




  <!-- TOOT AND BOOT == SECTION FOUR -->




    <div ng-show="tab === 4"  class="container wow fadeInRight">

      <div>
        <h3 class="section-title">Toot and Boot: Week One</h3>
        <div class="section-title-divider"></div>
      </div>
      <div id="repeatQueen" class="horizontal-slide droptrue droppableHolder draggable">
      <div ng-repeat="queen in queens track by $index" class=" col-lg-3 col-md-3 item">
      
          <a draggable="true" class="{{queen.queenID}} portfolio-item ui-state-default" style="background-image: url(img/{{queen.name.split(' ')[0]}}.jpg);" href="">
            <div class="details">
              <h4>{{queen.name}}</h4>
              <span>{{queen.hometown}}</span>
              <span>{{queen.age}}</span>
            </div>
          </a>
          <div class='toot-holder'>
          <a ng-click="toggleTootBoot($index)" ng-class="{true: 'tootboot-btn', false: 'tootboot-btn-alt'}[!tootBoot[$index]]">Toot</a>
          <a ng-click="toggleTootBoot($index)" ng-class="{true: 'tootboot-btn', false: 'tootboot-btn-alt'}[tootBoot[$index]]">Boot</a>
</div>
      </div>
    </div>
    
    <div class="col-md-12 subscribe-btn-container menu-active">
      <a href="#hero" class="subscribe-btn" ng-click="">Sign in to Play!</a>
    </div>
    </div>
</section>