<script>
  $(() => {
    $(".draggable").draggable();
    $(".droppable").droppable({
      drop: (event, ui) => {
        $(this)
        .addClass("col-md-1")
        .removeClass("col-md-12")
        .find("p")
          .html("Dropped!");
      },
    });
  });
</script>

<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Select your Queens</h3>
        <div class="section-title-divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="section-description">Drag your selections to each catageory and then submit before the episode airs!</p>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        
        <p href="#">Winner</p>
        <ul id="#sortable1" class="dropBox droptrue droppable portfolio-item "></ul>
        <select ng-model="selection.winner" ng-options='queen.name for queen in queens'></select>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        
        <p href="#">Runner-Up</p>
        <ul id="#sortable1" class="dropBox droptrue droppable portfolio-item "></ul>
      <select ng-model="selection.runnerUp" ng-options='queen.name for queen in queens'></select>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        
        <p href="#">Bottom</p>
        <ul id="#sortable1" class="dropBox droptrue droppable portfolio-item "></ul>
        <select ng-model="selection.bottom" ng-options='queen.name for queen in queens'></select>
      </div>

      <div class="col-md-3 subscribe-btn-container">
        
        <p href="#">Eliminated</p>
        <ul id="#sortable1" class="dropBox droptrue droppable portfolio-item "></ul>
        <select ng-model="selection.eliminated" ng-options='queen.name for queen in queens'></select>
      </div>
    </div>

</ul>

    <ul class="horizontal-slide droptrue draggable">
      <li ng-repeat="queen in queens track by $index" class="col-md-2 item">
      
          <a draggable="true" class="portfolio-item ui-state-default" style="background-image: url(img/{{queen.name.split(' ')[0]}}.jpg);" href="">
            <div class="details">
              <h4>{{queen.name}}</h4>
              <span>{{queen.hometown}}</span>
              <span>{{queen.age}}</span>
            </div>
          </a>
      </li>
    </ul>
    
    <div class="col-md-12 subscribe-btn-container">
      <a  href="#" ng-click="submitSelection(selection)">Submit</a>
    </div>



  </div>
</section>
