<div id="login" class="modal-header">
  <h3>Log In!</h3>
</div>
<form name="form.userForm" autocomplete="off">
  <div class="modal-body">

    <div class="form-group">
      <label>Username</label>
      <input type="text" 
             name="username" 
             class="form-control" 
             ng-model="user.username" 
             required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" 
             name="password" 
             class="form-control" 
             ng-model="user.password" 
             required>
    </div>

  </div>
  <div class="modal-footer modal-center">
    <button type="submit" ng-disabled="form.userForm.$invalid" class="btn btn-get-started" ng-click="login(user)">OK</button>
    <button class="btn btn-get-started" ng-click="cancel()">Cancel</button>
    <p class="modal-center">Don't have an account? <a ng-click="switchModal('signup'); cancel()">Create Your Account</a></p>
  </div>
</form>