<div id="signup" class="modal-header">
  <h3>Create A New Account!</h3>
</div>
<form name="form.userForm">
  <div class="modal-body">

    <div class="form-group">
      <label>Name</label>
      <input type="text" 
             name="name" 
             class="form-control" 
             ng-model="user.name" 
             required>
             <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine">Your name is required.</p>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" 
             name="username" 
             class="form-control" 
             ng-model="user.username" 
             ng-minLength='4'
             ng-maxLength='14'
             required>
              <p ng-show="form.userForm.username.$error.minlength" class="help-block">Username is too short.</p>
              <p ng-show="form.userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" 
             name="email" 
             class="form-control" 
             ng-model="user.email" 
             required>
             <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" >Enter a valid email.</p>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" 
             name="password" 
             class="form-control" 
             ng-model="user.password" 
             ng-minlength='4'
             ng-minlength='10'
             required
             >
             <p ng-show="form.userForm.password.$invalid && !form.userForm.password.$pristine" >Please enter a password between 4 to 10 characters.</p>
    </div>

  </div>
  <div class="modal-footer modal-center">
    <button type="submit" ng-disabled="form.userForm.$invalid" class="btn btn-get-started" ng-click="signup(user)">OK</button>
    <button class="btn btn-get-started" ng-click="cancel()">Cancel</button>
  </div>

  <p class="modal-center">Already a user? <a ng-href="login">Login In</a></p>
</form>